/* Estilos para la fuente Poppins */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Estilos para el contenedor principal */
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif; /* Aplicar la fuente Poppins */
}

/* Estilos para los bloques */
.bloque {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    max-width: 400px;
    width: 100%;
}

/* Estilos para los botones */
.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif; /* Aplicar la fuente Poppins */
}

/* Estilos para la información del bloque */
.info-bloque {
    margin-top: 10px;
}

/* Estilos para hacer la página responsive */
@media (max-width: 768px) {
    .bloque {
        max-width:90%;
    }
}
        